body {
    background-color: lightgreen
}

img {
    transition: all 0.5s;
    transform-origin: 40% 0%;
}


/*Obrót*/

.rotate img {
    transform: rotate(-37deg);
}


/*Przesunięcie*/

.translate img {
    transform: translate(200px, 100px);
}


/*Skalowanie*/

.scale img:hover {
    transform: scale(1.2);
}

/*animacja*/
.animation img{
    animation-name: resize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes resize{
    0%, 100% {
        height: 300px;
    }
    50%{
        height: 50px;
    }
}